<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    
    <h1>LOGIN PAGE </h1>
    <br>
    <form method='POST'>
        {% csrf_token %}

        <label>username</label>
        <br>
        <input type='text' name='username' required>
        <br>
        <br>
        <label>password</label>
        <br>
        <input type='password' name='password' required>
        <button type='submit'>LOGIN</button>

    </form>

        
</body>
</html>